check.sh~
nohup.out
scraper.log
scraper.py~
env.json
/.ipynb_checkpoints
.ipynb_checkpoints/
.ipynb_checkpoints/data-01292022191230-checkpoint.csv
.ipynb_checkpoints/env-checkpoint.json
.ipynb_checkpoints/s8n1pj-checkpoint
data-01292022191230.csv
/pics-01292022233104/
/pics-old/
/pics*
*.csv